@import '../variables';
@import '../mixins';

.nav-container {
  width: 100%;
  height: 70px;
  background-color: $primary-variant;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  @include flex-center;
  width: fit-content;
  margin-right: 20px;
  background-color: $secondary;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}