@import '../variables';

.slider-container {
  width: 100%;
  padding: 20px;
  background-color: $secondary-variant;
}

.inner-carousel {
  display: flex;
  justify-content: space-between;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}