// Background colors 
$primary:  #1A237E;
$primary-variant: #80D8FF;
$secondary: #311B92;
$secondary-variant: #6200EA; 
// Text colors
$primary-color: #584848;
$secondary-color: #d7f3f1;


// screen sizes
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
