// Background colors 
$primary:  #273238;
$primary-variant: #51d1e1;
$secondary: #72e96e;
$secondary-variant: #e6f5bc; 
// Text colors
$primary-color: #584848;
$secondary-color: #d7f3f1;


// screen sizes
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
